<div class="center-block">
  <div class="pagination">
    <%= page_entries_info items %><br>
    <%= paginate items, :theme => 'twitter-bootstrap-3', params: { script_name: "/mudd-dbs" } %>
  </div>
</div>
